body {
    background-color: #121212; /* High contrast orange background color */
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.group-title {
    font-size: 24px;
    margin-top: 20px;
}

.group-separator {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.content-section {
    margin-bottom: 20px;
}

.content-title a {
    font-size: 22px; /* Increased font size for the title */
    font-weight: bold;
    background-color: #FF4500;
    color: #800080; /* Purple color for the URLs */
    text-decoration: none;
}

.content-title a:hover {
    text-decoration: underline;
}

.content-description {
    font-size: 18px; /* Increased font size for the description */
}

.content-hashtags {
    font-size: 14px; /* Increased font size for the hashtags */
    color: #a0a0a0;
}
